@media only screen and (max-width: 1024px) {
  .fd {
    flex-direction: row;
  }

  .hack {
    width:15rem;
  }

  .abt {
    text-align: center;
  }

  .hack:hover {
    cursor: pointer;
  }
}

@media only screen and (max-width: 768px) {
  .fd {
    flex-direction: row;
  }

  .hack {
    width:12rem;
  }

  .hack:hover {
    cursor: pointer;
  }

  h2 {
    font-size: 60px;
  }

  h5 {
    font-size: 30px;
  }

  p {
    font-size: 20px;
  }
}

@media only screen and (max-width: 425px) {
  .fd {
    flex-direction: column;
  }

  .hack {
    width: 5rem;
  }

  .hack:hover {
    cursor: pointer;
  }

  h2 {
    font-size: 30px;
  }

  h5 {
    font-size: 20px;
  }

  p {
    font-size: 10px;
  }


}

@media only screen and (max-width: 375px) {
  .fd {
    flex-direction: column;
  }

  .hack {
    width: 15rem;
  }

  .hack:hover {
    cursor: pointer;
  }

  h2 {
    font-size: 30px;
  }

  h5 {
    font-size: 20px;
  }

  p {
    font-size: 10px;
  }
}

@media only screen and (max-width: 320px) {
  .fd {
    flex-direction: column;
  }

  .hack {
    width:10rem;
  }

  .hack:hover {
    cursor: pointer;
  }

  h2 {
    font-size: 30px;
  }

  h5 {
    font-size: 20px;
  }

  p {
    font-size: 10px;
  }
}